.header-list li{
    list-style: none;
    float: left;
}
.signup {
    background-color: #239b76;
} 
.google {
    background-color: #3b5998;
}
    .facebook {
    background-color: #3b5998;
    margin-right: 10px;
} 
.twitter {
    background-color: #55acee;
}
.btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}
.page-contents{
    list-style:none; 
}
.heiten{
    color:red; 
    white-space:nowrap;
}
